<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/sport"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".workout.CreateIntervalWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".account.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".account.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".account.HelpActivity"
            android:exported="false" />

        <meta-data
            android:name="com.yandex.mapkit.ApiKey"
            android:value="b63fe3ef-6715-4945-876d-dfa328e906e2" />

        <activity
            android:name=".workout.WorkoutReportActivity"
            android:exported="false" />
        <activity
            android:name=".workout.WorkoutTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".account.UserDataActivity"
            android:exported="false" />
        <activity
            android:name=".account.UserSurveyActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".analytics.WorkoutHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".analytics.AnalyticsActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>